@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@500;800&display=swap");

:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
  --font-size: 1rem;
  --font-family: "Figtree", sans-serif;
  --font-weight-500: 500;
  --font-weight-800: 800;
  --border-radius: 10px;
  --box-shadow: 8px 8px 1px 2px var(--gray-950);
  --padding-card: 20px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: var(--font-family);
  padding: 16px;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  max-width: 22rem;
  padding: var(--padding-card);
  background-color: var(--white);
  border-radius: var(--border-radius);
  border: 1px solid var(--gray-500);
  box-shadow: var(--box-shadow);
  line-height: 1.5;
  color: var(--gray-950);
  font-size: var(--font-size);
}

.card-subject {
  font-weight: var(--font-weight-800);
  background-color: var(--yellow);
  padding: 5px 10px;
  border-radius: var(--border-radius);
}

.card-text {
  font-weight: var(--font-weight-500);
  color: var(--gray-500);
}

.card-container h2 a {
  font-size: 1.5rem;
  font-weight: var(--font-weight-800);
  color: var(--gray-950);
  text-decoration: none;
}

.card-container a:active {
  cursor: pointer;
  color: var(--yellow);
}

.card-image {
  max-width: 100%;
  border-radius: var(--border-radius);
  display: block;
}

.card-avatar {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
  font-weight: var(--font-weight-800);
}

.card-avatar > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
